# Server
ENV_ENC_PASSWORD=# password used to encrypt the secrets
NODE_ENV=# production, development

# api
PORT=# default: 4000

# modules

## chains
CUSTOM_CHAINS_CONFIG_PATH=# optional
DEFAULT_USER_OPS_BATCH_GAS_LIMIT=# default: 8_000_000
DEFAULT_NUM_SIMULATOR_WORKERS_PER_CHAIN=# default: 1
DEFAULT_SIMULATOR_WORKER_CONCURRENCY=# default: 10
DEFAULT_SIMULATOR_TRACE_CALL_RETRY_DELAY=# default: 2000 milliseconds

DEFAULT_SIMULATOR_STALLED_JOBS_RETRY_INTERVAL=# default: 5 second
DEFAULT_SIMULATOR_RATE_LIMIT_MAX_REQUESTS_PER_INTERVAL=# default: 100
DEFAULT_SIMULATOR_RATE_LIMIT_DURATION=# default: 1

DEFAULT_EXECUTOR_STALLED_JOBS_RETRY_INTERVAL=# default: 5 second
DEFAULT_EXECUTOR_RATE_LIMIT_MAX_REQUESTS_PER_INTERVAL=# default: 100
DEFAULT_EXECUTOR_RATE_LIMIT_DURATION=# default: 1

## core/logger
LOG_LEVEL=# default: info, options: fatal|error|warn|info|debug|trace
LOG_CALLERS=# optional
PRETTY_LOGS=# default: 0

## core/redis
REDIS_HOST=# default: localhost
REDIS_PORT=# default: 6379

## executor
EXECUTOR_QUEUE_JOB_ATTEMPTS=# default: 3
EXECUTOR_QUEUE_JOB_BACKOFF_TYPE=# default: fixed, options: fixed|exponential
EXECUTOR_QUEUE_JOB_BACKOFF_DELAY=# default: 1000 milliseconds

## health check
INITIAL_HEALTH_CHECK_DELAY=# default: 1
HEALTH_CHECK_INTERVAL=# default: 60

## node
NODE_NAME=# optional
NODE_ID=# required
NODE_PRIVATE_KEY=# required
NODE_FEE_BENEFICIARY=# optional
NODE_ACCOUNTS_PRIVATE_KEYS=# optional
NODE_ACCOUNTS_MNEMONIC=# optional

## price-feeds
ORACLE_PRICE_FEED_TTL=# default: 60 (seconds)

## simulator
SIMULATOR_QUEUE_JOB_ATTEMPTS=# default: 10
SIMULATOR_QUEUE_JOB_BACKOFF_TYPE=# default: fixed, options: fixed|exponential
SIMULATOR_QUEUE_JOB_BACKOFF_DELAY=# default: 1000 milliseconds

## workers
NUM_CLUSTER_WORKERS=# default: 1
WORKER_SPAWN_DELAY=# default: 1 (seconds)

## EOA workers
MAX_EXTRA_WORKERS=# default: 0

## Gas Estimator
MAX_CALLDATA_GAS_LIMIT=# default: 3300001

## UserOps
USEROP_MAX_WAIT_BEFORE_EXEC_START=# default: 300
USEROP_TRACE_CALL_SIMULATION_POLL_INTERVAL=# default: 2
USEROP_MAX_EXEC_WINDOW_DURATION=# default: 86400
USEROP_MIN_EXEC_WINDOW_DURATION=# default: 60
USEROP_DEFAULT_EXEC_WINDOW_DURATION=# default: 300
USEROP_SAFE_WINDOW_BEFORE_EXEC_END=# default: 30

# GlueX
GLUEX_PARTNER_UNIQUE_ID=#optional
GLUEX_API_KEY=#optional

# LiFi
LIFI_API_KEY=#optional

# ERC20 token storage slot detection server
TOKEN_SLOT_DETECTION_SERVER_BASE_URL=http://127.0.0.1:5000

# opentelemetry env
OTEL_TRACE_ENABLED=
OTEL_SERVICE_NAME=
OTEL_ENV=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=

# trusted gas tank
TRUSTED_GAS_TANK_ADDRESS=